:root {
    --gris-mate: #373737;
}

/* --- BODY --- */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    font-size: 62.5%;
    color: white;
    background: linear-gradient(170deg, rgba(5,10,52,1) 0%, rgb(0, 0, 0) 32%, rgb(0, 0, 0) 100%);
}


/* --- SPLASH SCREEN --- */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 1;
}

.splash.display-none {
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

.splash img {
    width: 160px;
    height: fit-content;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* --- HERO --- */
.hero {
    padding: 0 20px;
    min-width: 320px;
    max-width: 370px;
}

/* --- HEADER --- */
header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
}

header .buttons-container span{
    margin-left: 16px;
}

/* --- ESCUCHADO RECIENTEMENTE --- */
.recent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}

.recent .playlist {
    width: 156px;
    height: 50px;
    display: flex;
    align-items: center;
    background: var(--gris-mate);
    border-radius: 5px;
}

.recent .playlist img {
    height: 100%;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
}

.recent .playlist p {
    margin: 0 8px;
    font-size: 1.2em;
}